/*ACCUEIL*/
h1, h2 {
    text-align: center;
    background-color: purple;
}
.container {
    text-align: center;
}
img {
    width: 500px;
    height: 500px;
}
p {
    margin: 70px;
    padding: 50px;
}